@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=IM+Fell+English:ital@0;1&display=swap');

body {
    font-family: 'IM Fell English', serif;
    color: whitesmoke;
    background-color: #121212;
    overflow-x: hidden;
    margin: 0;
}

.prin{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.conteudo {
    display: flex;
    gap: 25px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.historia {
    width: calc(100% - 25px); 
    max-width: 700px; 
    height: auto; 
    background-color: #c5c5c5;
    color: #11130E;
    padding: 3rem 1rem;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.1);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.historia h1 {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.historia p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.cards {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px -11px 34px -7px rgba(248, 121, 3, 0.49);
    -webkit-box-shadow: 10px -11px 34px -7px rgba(243, 154, 21, 0.49); 
    -moz-box-shadow: 10px -11px 34px -7px rgba(0, 0, 0, 0.49);
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #585858;
    border: 3px solid #838383;
    border-radius: 7px;
    box-shadow: 10px -11px 34px -7px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 10px -11px 34px -7px rgba(0, 0, 0, 0.49); 
    -moz-box-shadow: 10px -11px 34px -7px rgba(0, 0, 0, 0.49);
    transition: 0.3s;
}

.info {
    padding: 20px;
}

.card ul {
    margin-bottom: 40px;
    list-style-type: circle;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.card h3 {
    color: #afafaf;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black, 0 0 15px orange, 0 0 5px #E87534;
}
