@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adiciona esta linha para centralizar o conteúdo */
    font-family: 'IM Fell English', serif;
    color: whitesmoke;
    background-color: #121212;
    margin: 0;
    overflow-x: hidden;
}

.prin, .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center; /* Centraliza os filhos dentro desses containers */
}

.conteudo {
    gap: 25px;
}

.historia {
    width: 100%;
    max-width: 700px;
    height: 400px;
    background-color: #c5c5c5;
    color: #11130E;
    padding: 3rem 1rem;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.1);

    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adiciona esta linha para centralizar o conteúdo dentro do artigo */
}

@media (max-width: 1024px) {
    .conteudo {
        align-items: center;
    }

    .historia {
        height: auto;
    }
}

.historia h1 {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
    background-color: #11130E;
    color: #f8de4f;
    border-radius: 5px;
}

.historia p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.cards {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #585858;
    border: 3px solid #838383;
    border-radius: 7px;
    box-shadow: 10px -11px 34px -7px rgba(0, 0, 0, 0.49);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px -11px 34px -7px rgba(248, 222, 79, 1);
    ;
}

.info {
    padding: 20px;
}

.card ul {
    margin-bottom: 40px;
    list-style-type: circle;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.card h3 {
    color: #afafaf;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #121212, 0 0 15px #f8de4f, 0 0 5px #7e8013;
}
