@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  color: #FFFFFF;
}

body {
  background-color: #11130E;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #c5c5c5;
  padding: 0.8rem 3rem;
}

.navbar ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.1px;
  transition: all 0.3s;
}

.navbar ul a:hover {
  background-color: #f8de4f;
  color: #11130E;
  padding: 12px 10px;
  border-radius: 25px;
}

.cabecalho #logo-hogwarts {
  text-decoration: none;
  color: #FFFFFF;
  width: 92px;
}