@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}

body {
  background-color: #11130E;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #c5c5c5;
  padding: 0.8rem 1rem;
}

/* .navbar {
  width: 100%;
} */

.navbar ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

.cabecalho a {
  text-decoration: none;
  color: #FFFFFF;
  max-width: 100px;
}

#logo-hogwarts {
  width: 100%;
}